{% extends "base.html" %}

{% block extra_css %} 
<link rel="stylesheet"  href="{{ url_for('static', filename='css/view.css') }}">
{% endblock extra_css %}


{% block content %}

<h2>Employee List</h2>

<table>

    <thead>
        <tr>
            <th>Employee Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date Of Birth</th>
            <th>Department</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>

        {% for employee in employees %}

        <tr>
            <td>{{ employee.Id }}</td>
            <td>{{ employee.Emp_FirstName }}</td>
            <td>{{ employee.Emp_LastName }}</td>
            <td>{{ employee.DateOFBirth }}</td>
            <td>{{ employee.Department }}</td>
            <td>{{ employee.Role }}</td>
            
            <td>
               <a href="{{ url_for('employee_edit', id=employee.Id) }}">
               Update
             </a>
             </td>
               
        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}